			.head_in{
				width: 1200px;
				height: 104px;
				margin: 0 auto;
				/*background-color: yellow;*/
			}
			.sf_logo{
				width: 248px;
				padding-top: 5px;
				float: left;
			}
			.sf_img_l{
				width: 124px;
				height: 66px;
				float: left;
				background: url("../index_img/indexImg20130307.png") -33px 0px no-repeat;
				height: 66px;
			}
			.yp_img_l{
				width: 124px;
				height: 66px;
				float: left;
				background: url("../index_img/indexImg20130307.png") -160px 0px no-repeat;
				height: 66px;
			}
			.yx_city{
				display: block;
				float: left;
				
			}
			.search{
				float: left;
				width: 512px;
				height: 74px;
				margin-left: 198px;
				margin-top: 30px;
			}
			.search_in{
				position: relative;
				width: 512px;
				height: 36px;
				float: left;
			}
			.search_text{
				outline: none;
				height: 36px;
				width: 430px;
				border: 1px solid #669900;
				box-sizing: border-box;
				float: left;
				font-size: 12px;
				color: #666666;
				text-indent: 5px;
			}
			.search_result{
				position: absolute;
				top: 36px;
				left: 0;
				width: 428px;
				background-color: #fff;
				border: 1px solid #dadada;
				display: none;
				z-index: 998;
			}
			.search_result p{
				height: 31px;
				width: 425px;
				line-height: 31px;
				font-size: 12px;
			}
			.search_result p.active{
				background-color: #f9f9f9;
				color: #646464;
			}
			.search_result p span{
				float: left;
			}
			.search_result p b{
				float: right;
				font-weight: normal;
			}
			.search_result p i{
				font-style: normal;
			}
			.search_wz{
				width: 428px;
				height: 30px;
				border-top: 1px solid #dadada;;
			}
			.search_button{
				width: 82px;
				height: 36px;
				background:url("../index_img/header.png") no-repeat -99px -179px;;
				text-align: center;
				line-height: 36px;
				float: left;
				cursor: pointer;
			}
			.search_down{
				float: left;
				margin-top: 7px;
			}
			.search_down a{
				float: left;
				margin-right: 9px;
				color: #666666;
			}
			.head_cart{
				float: left;
				width: 195px;
				height: 35px;
				margin-left: 47px;
				margin-top: 30px;
				/*background-color: blue;*/
				/*border:1px solid black;*/
				box-sizing: border-box;
				position: relative;
				
			}
			.head_cart_l{
				width: 155px;
				height: 35px;
				float: left;
				border:1px solid #efefef;
				box-sizing: border-box;
				
			}
			.head_cart_l b{
				float: left;
				display: block;
				width: 23px;
				height: 21px;
				margin-left: 18px;
				margin-top: 7px;
				background: url(../index_img/header.png) no-repeat -102px -235px;
			}
			.head_cart_l a{
				display: block;
				float: left;
				margin-top: 9px;
				color: #666666;
			}
			.head_cart_r{
				float: left;
				width: 38px;
				height: 35px;
				background-color: #fa9600;
				text-align: center;
			}
			.head_cart_r span{
				line-height: 35px;
				font-size: 16px;
				font-weight: 600;
				text-align: center;
				color: #fff;
			}
			.head_cart_noneshow{
				width: 360px;
				height: 84px;
				position: absolute;
				top: 35px;
				right: 0;
				background-color: #fff;
				border:1px solid #efefef;
				box-shadow: 0 0 5px #dadada;
				display: none;
			}
			
			.head_cart_noneshow p{
					display: block;
				    width: 34px;
				    height: 42px;
				    margin-left: 95px;
				    margin-top: 20px;
				    background: url(../index_img/header.png) no-repeat -99px -123px;
				    float: left;
			}
			.head_cart_noneshow span{
				margin-left: 13px;
				margin-top: 22px;
				float: left;
			}
			
			.head_cart_show{
				position: absolute;
				right: 0;
				top: 35px;
				width: 360px;
				background-color: #fff;
				padding: 0 7px 12px 12px;
				border: 1px solid #efefef;
				box-shadow: 0 0 5px #dadada;
				box-sizing: border-box;
				display: none;
				z-index: 999;
			}
			.head_cart_show_top{
				width: 339px;
				height: 33px;
				line-height: 33px;
				color: #6c6c6c;
				border-bottom: 1px solid #1b6146;
			}
			.head_cart_btn{
				width: 110px;
				height: 28px;
				background-color: #76AC25;
				float: right;
				color: #fff;
				text-align: center;
				line-height: 28px;
				font-size: 14px;
				cursor: pointer;
			}
			.goods_s{
				max-height: 195px;
				overflow: auto;
			}
			.goods{
				width: 100%;
				height: 65px;
				background-color: #fff;
				border-bottom: 1px dashed #ccc;
				box-sizing: border-box;
			}
			.goods_pic{
				height: 40px;
				width: 40px;
				margin-top: 12px;
				background-color: pink;
				float: left;
			}
			.goods_msg{
				float: left;
				height: 33px;
				margin-top: 15px;
				margin-left: 7px;
			}
			.goods_msg p,.goods_msg span{
				float: left;
			}
			.goods_msg span{
				clear: left;
				font-size: 10px;
				color: #cecece;
				margin-top: 7px;
			}
			.good_price{
				float: right;
				margin-top: 15px;
			}
			.good_price p{
				float: right;
			}
			.good_price p i,.good_price p span{
				color: #f05404;
			    font-size: 14px;
			    font-weight: bold;
			}
			.good_price p b{
				color: #565656;
				font-weight: normal;
			}
			.good_price div{
				float: right;
				clear: right;
				margin-top: 7px;
				cursor: pointer;
			}
			.head_cart_nums{
				float: left;
				width: 210px;
			}
			.head_cart_nums p{
				float: left;
				
			}
			.head_cart_nums p span{
				font-size: 14px;
				color: #f05404;
				font-weight: bold;
			}
			.head_cart_nums{
				
			}
			.head_cart_weight{
				clear: left;
				margin-top: 7px;
			}
			.head_cart_money{
				float: right;
			}
			.head_cart_money span{
				font-size: 18px;
				color: #f05404;
			}