.nav_in {
	width: 1200px;
	height: 32px;
	margin: 0 auto;
}

.all_goods_class_button {
	float: left;
	height: 32px;
	line-height: 32px;
	display: block;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: bold;
	width: 200px;
	text-align: center;
	text-decoration: none;
	background-color: #669900;
}

.nav_main_buttons {
	height: 32px;
	width: 1000px;
	float: left;
}

.nav_main_button {
	padding: 10px 0px;
	float: left;
}

.nav_main_button a {
	padding: 0 24px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-family: Microsoft YaHei;
	font-weight: 700;
	color: #333;
}

.nav_main_button:hover a {
	color: #669900;
}

.nav_main_button.active a {
	color: #669900;
}

.you_xuan_card {
	float: right;
	padding: 0;
	width: 196px;
	height: 32px;
	overflow: hidden;
}